<!DOCTYPE html>
<html ng-app="todoApp">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ include('AppBundle::_partial/include_head.html.twig') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <main>
        {% block body %}{% endblock %}
        </main>
        {% block javascripts %}
            {{ include('AppBundle::_partial/include_foot.html.twig') }}
        {% endblock %}
    </body>
</html>
