doctype html
html(ng-app="app")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="UTF-8")
        base(href="/sport")
        block title 
            title Angular teaching
        include pages/default/header-include.pug
    body
        section.main(ng-view)
        include pages/default/footer-include.pug