h1 {{title}}
div.additional-services
    div Usługi dodatkowe
    div(ng-repeat="service in cartOffer.additionalServices")
        input(id="{{ service.name }}-{{ cartOffer.offerId }}" ng-model="status" ng-change="selectService(service, cartOffer.offerId, status)" type="checkbox")
        label(for="{{ service.name }}-{{ cartOffer.offerId }}") {{ service.name }}
        span.price - {{ getServicePrice(cartOffer.applicableAdditionalServices, service) }}